{% extends "base2.html" %}  <!-- Inherit from the base2.html template, which provides the main structure/layout -->

{% block content %}  <!-- Define the content block to be injected into the base template -->

<!-- Login form section -->
<div class="login-form">
  
  <!-- Heading for the login page -->
  <h2>Login</h2>
  <form method="POST">
    <input type="email" name="Email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Login</button>
  </form>
  
  </form>
</div>

{% endblock %}  <!-- End of the content block -->
